.container {
  display: flex;
}

.sidebar {
    position: fixed; /* Закрепляем панель */
    top: 0;
    left: 0;
    width: 12%;
    height: 100%;
    background-color: #f8f8f8;
    overflow-y: auto; /* Прокрутка, если содержимого больше */
    z-index: 1000;
    padding-top: 20px; /* Отступ сверху для отступа от шапки */
}

.content {
    margin-left: 15%;
    padding: 15px; /* Добавляем отступы для контента */
}


.sidebar-nav {
  list-style-type: none;
  padding: 0;
}

.sidebar-nav li {
  padding: 10px 0;
}

.sidebar-nav li a {
  text-decoration: none;
}

/* Круглые блоки для списка компаний партнеров */
.partner-blocks {
    display: flex;
    overflow-x: auto;
    padding: 10px;
}

.partner-block {
    width: 150px;
    height: 150px;
    background-color: #f0f0f0;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.partner-logo {
    width: 100%;
    height: 100%; /* Лого полностью заполняет круг */
    object-fit: contain; /* Лого не растягивается */
    border-radius: 50%;
}

.partner-name {
    font-family: 'Itim', cursive;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-align: center;
    margin-top: 10px; /* Больше отступа сверху, чтобы текст не прилипал */
}

/* Позиционирование для отображения инфо о последней статье */
.latest-article {
    position: relative;
    top: 20px;
    left: 10px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

.itim-regular {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}

.logo-transform {
    transform: rotate(15deg); /* Поворачивает логотип на 15 градусов */
}