{% extends "base_generic.html" %}
{% load static %}
{% block content %}
    <h1 class="itim-regular">About company</h1>
   <img src="{{ info.logo.url }}" alt="Company Logo" height=200px width=200px class="logo-transform">
   <p class="text-wrap">{{ info.text }}</p>

    <div class="products-animation-scroll">
        <div class="product-animation-scroll" id="product1-scroll">🍎</div>
        <div class="product-animation-scroll" id="product2-scroll">🥕</div>
        <div class="product-animation-scroll" id="product3-scroll">🍋</div>
    </div>
    <div class="cart-animation-scroll" id="cart-animation-scroll">🛒</div>

    <video class="styled-video" controls autoplay muted>
        <source src="{{ info.video.url }}" type="video/mp4">
    </video>
    <br>
    <audio class="styled-audio" controls>
        <source src="{{ info.audio.url }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <h2 class="itim-regular">History</h2>
    <ul class="history-list">
        <li>2020: Company founded</li>
        <li>2021: Launched first product line</li>
        <li>2022: Expanded to international markets</li>
        <li>2023: Reached 1 million customers</li>
        <li>2024: Introduced new innovative technologies</li>
    </ul>
    <h2 class="itim-regular">Banking Details</h2>
    <p class="banking-details">{{ info.details }}</p>
    <h2 class="itim-regular">Our certificate</h2>
    <div class="certificate-container" id="about_company">
    <h1 class="h1-certificate">Свидетельство о качестве продукции</h1>

    <div class="certificate-content">
        <p>Настоящим удостоверяется, что <strong class="certificate">Онлайн-магазин "FreshMarket"</strong>
            успешно прошел все необходимые проверки и обладает
            всеми необходимыми ресурсами, квалифицированным персоналом и оборудованием для обеспечения
            высокого качества продуктов на территории Республики Беларусь.</p>

        <p>Компания "FreshMarket" осуществляет следующие виды услуг:</p>
        <ul class="certificate-list">
            <li>Быстрая доставка свежих продуктов на дом;</li>
            <li>Широкий ассортимент органических и фермерских продуктов;</li>
            <li>Удобный онлайн-заказ и оплата;</li>
            <li>Гарантия качества и свежести продуктов;</li>
            <li>Профессиональная консультация по выбору продуктов.</li>
        </ul>

        <p>Компания имеет лицензию №987654321 от 16 октября 2024 года и выполняет работы в соответствии с
            действующими стандартами и нормами охраны труда и техники безопасности.</p>
        <p>Срок действия данного свидетельства: с 16 октября 2024 года по 01 января 2025 года.</p>
    </div>
    <div class="certificate-sign">
        <img src="{% static 'images/podpis.png' %}"
             alt="Company Seal">
    </div>
     <div class="certificate-pechat">
        <img src="{% static 'images/sign.png' %}" alt="Company Seal">
    </div>

    <div class="certificate-signatures">
        <div class="certificate-signature-line">
            <div>
                ___________________________<br>
                <em>Генеральный директор</em><br>
                Иванов И.И.
            </div>
        </div>
    </div>

    <footer class="certificate">
        <p> 2024 - Ассоциация контроля нормы торговли.</p>
    </footer>
</div>
<div class="contact-section">
    <p class="itim-regular">Contact with us:</p>
    <div class="button-container">
        <button class="btn-emerald" onclick="location.href='mailto:milana03tima@gmail.com?subject=Question'">Email us</button>
        <button class="btn-emerald" onclick="location.href='tel:+375292568820'">Call us</button>
    </div>
</div>
    {% block scripts %}
<script src="{% static 'js/animation.js' %}"></script>
{% endblock %}
{% endblock %}