{% extends "base_generic.html" %}
{% block head %}
    <meta name="description" content="Page for adding review">
{% endblock %}
{% block content %}
  <h1>Add a Review</h1>

  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      {% if field.label == "Text" %}
        <p>{{ field.label_tag }}<br><textarea name="{{ field.name }}" spellcheck="true">{{ field.value|default_if_none:"" }}</textarea></p>
      {% else %}
        <p>{{ field.label_tag }}<br>{{ field }}</p>
      {% endif %}
    {% endfor %}
    <button type="submit">Submit</button>
  </form>
{% endblock %}