{% extends "base_generic.html" %}
{% block head %}
    <meta name="description" content="Open vacancies in shop">
{% endblock %}
{% block content %}
    <article>
        <header>
            <h1>Jobs</h1>
        </header>
        <section>
            {% for job in jobs %}
                <article>
                    <header>
                        <h2>{{ job.title }}</h2>
                    </header>
                    <p>{{ job.description }}</p>
                </article>
            {% empty %}
                <p>There are no jobs</p>
            {% endfor %}
        </section>
    </article>
{% endblock %}