{% extends "base_generic.html" %}

{% block content %}
     <article itemscope itemtype="https://schema.org/JobPosting">
        <header>
            <h1 itemprop="title">Jobs</h1>
        </header>
        <section>
            {% for job in jobs %}
                <article itemscope itemtype="https://schema.org/JobPosting">
                    <header>
                        <h2 itemprop="title">{{ job.title }}</h2>
                    </header>
                    <p itemprop="description">{{ job.description }}</p>
                </article>
            {% empty %}
                  <p>There are no jobs</p>
            {% endfor %}

        </section>
    </article>
{% endblock %}