{% extends "base_generic.html" %}

{% block content %}
  <article>
    <header>
      <h1>News</h1>
    </header>

    <section>
      {% for article in articles %}
        <article>
          <header>
            <h2>{{ article.title }}</h2>
          </header>
          <p>{{ article.summary }}</p>
          <img src="{{ article.image.url }}" alt="{{ article.title }}" style="max-width:300px; max-height:300px;">
          <footer>
            <a href="{% url 'article_detail' article.id %}">Read more</a>
          </footer>
        </article>
      {% endfor %}
    </section>
  </article>
{% endblock %}