{% extends "base_generic.html" %}

{% block content %}
    <div class="privacy-container">
        <h1>Политика конфиденциальности</h1>
        <nav class="capitalized">
        <a href="#general">Общие положения</a> |
        <a href="#personal_data">Персональные данные</a> |
        <a href="#processing_and_storage">Обработка и хранение</a> |
        <a href="#use_and_transfer">Использование и передача</a> |
        <a href="#protection">Защита</a> |
        <a href="#obligations">Обязанности</a> |
        <a href="#rights">Права</a> |
        <a href="#confidentiality">Конфиденциальность</a> |
        <a href="#responsibility">Ответственность</a> |
        <a href="#cookies">Cookie и прочие технологии</a> |
        <a href="#consent">Согласие на обработку</a>
        </nav>
    <h2 id="general">1. Общие положения</h2>
    <p>1.1. Настоящее Положение о конфиденциальности (далее – «Положение») регламентируется
Законом Республики Беларусь «Об информации, информатизации и защите информации», иным
законодательством Республики Беларусь</p>
     <p>1.2. Основные необходимые для ознакомления понятия, используемые в Положении приведены ниже и будут использоваться в тексте в дальнейшем:</p>
    <dl class="definition-list">
        <dt>Продавец / оператор</dt>
        <dd>ООО "Online Store" УНП 1234567890</dd>
        <dt>Интернет-магазин</dt>
        <dd>Интернет-сайт, принадлежащий Продавцу, расположенный в сети интернет по адресу: https://onlinestore/, где представлены Товары, предлагаемые Продавцами для приобретения, а также условия оплаты и доставки Товаров Покупателям.</dd>
        <dt>Cookies</dt>
        <dd>Cookies — это небольшие фрагменты данных, которые повышают эффективность и улучшают
условия пользования Веб-сайтом. Данная информация может включать в себя данные о
местоположении Клиента или языковых предпочтениях, которые будут сохранены при повторном
входе на сайт, или о понравившихся Клиенту товарах</dd>
        <dt>Клиент</dt>
        <dd>Клиент — Посетитель Сайта - лицо, пришедшее на сайт onlinestore.by: без цели размещения Заказа;
Пользователь - физическое лицо, посетитель Сайта, принимающий условия Публичной оферты,
размещенной на сайте: uneed.by и желающий разместить Заказы в Интернет-магазине;
Покупатель - Пользователь, разместивший Заказ в Интернет-магазине - субъекты персональных
данных.</dd>
     <dt>Персональные данные</dt>
        <dd>Персональные данные — информация, сохраненная в любом формате, относящаяся к
определенному или определяемому на основании такой информации физическому лицу
(субъекту персональных данных), которая сама по себе или в сочетании с другой информацией,
имеющейся в распоряжении Интернет-магазина, позволяет идентифицировать личность Клиента.</dd>
     <dt>Обработка персональных данных</dt>
        <dd>Обработка персональных данных — действия (операции) с персональными данными,
включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление,
изменение), извлечение, использование, распространение (в том числе передачу),
обезличивание, блокирование, уничтожение персональных данных.</dd>
     <dt>Распространение персональных данных</dt>
        <dd>Распространение персональных данных — действия, направленные на передачу
персональных данных определенному кругу лиц (передача персональных данных) или на
ознакомление с персональными данными неограниченного круга лиц, в том числе
обнародование персональных данных в средствах массовой̆ информации, размещение в
информационно- телекоммуникационных сетях или предоставление доступа к персональным
данным каким-либо иным способом.</dd>
     <dt>Использование персональных данных</dt>
        <dd>Использование персональных данных — действия (операции) с персональными данными,
совершаемые оператором в целях принятия решений или совершения иных действий,
порождающих юридические последствия в отношении субъекта персональных данных или других
лиц либо иным образом затрагивающих права и свободы субъекта персональных данных или
других лиц.</dd>
     <dt>Конфиденциальность персональных данных</dt>
        <dd>Конфиденциальность персональных данных — обязательное для соблюдения оператором
или иным получившим доступ к персональным данным лицом требование не допускать их
распространение без согласия субъекта персональных данных или наличия иного законного
основания.</dd>
    </dl>

     <p>1.4 Целью Положения является обеспечение защиты прав и свобод человека и гражданина при
обработке его персональных данных.</p>
     <p>1.5. Персональные данные обрабатываются в целях, для которых они предоставлялись, в том
числе: идентификации Посетителя сайта, регистрации в системе самообслуживания (личном
кабинете), установления обратной связи, включая направление уведомлений, запросов,
касающихся, оказания услуг, обработка запросов и заявок от Посетителя сайта, определения
локации Посетителя сайта для обеспечения безопасности, предотвращения мошенничества, для
других целей в соответствии с акцептируемой Офертой Продавца , размещенной в Интернетмагазине (одной из сторон Публичной оферты является Клиент ) или с согласия Посетителя сайта.
Интернет-магазин собирает данные только в объеме, необходимом для достижения названной
цели.</p>
     <p>1.6. Персональные данные не могут быть использованы в целях причинения имущественного и
морального вреда гражданам, затруднения реализации прав и свобод граждан Республики
Беларусь.</p>
     <p>1.7. Настоящее Положение утверждается директором и является обязательным для исполнения
всеми сотрудниками, имеющими доступ к персональным данным Клиента.</p>
    <h2 id="personal_data">2. Состав и получение персональных данных Клиентов</h2>
    <p>2.1. К персональным данным, сбор и обработку которых осуществляет Интернет-магазин,
относятся: анкетные данные (фамилия, имя); адрес проживания; адрес электронной̆ почты; номер
контактного телефона, а также информация, предоставляемая Пользователем самостоятельно
при регистрации в личном кабинете, при оформлении заказа в интернет-магазине или в процессе
использования Сайта.</p>
     <p>2.2. Согласие на обработку персональных данных считается предоставленным посредством
проставления на Сайте в соответствующей форме отметки о согласии на обработку персональных
данных в объеме, для целей и в порядке, предусмотренных в предлагаемом перед получением
согласия для ознакомления тексте.</p>
    <h2 id="processing_and_storage">3. Обработка и хранение персональных данных Клиентов</h2>
<p>3.1. Обработка персональных данных Интернет-магазином в интересах Клиентов заключается в получении, систематизации, накоплении, хранении, уточнении (обновлении, изменении), использовании, распространении, обезличивании, блокировании, уничтожении и в защите от несанкционированного доступа персональных данных Клиентов.</p>

<p>3.2. Согласие Клиентов на обработку персональных данных не требуется, поскольку обработка персональных данных осуществляется в целях исполнения Публичной оферты, одной из сторон которой является субъект персональных данных — Клиент.</p>

<p>3.3. К обработке персональных данных Клиентов могут иметь доступ только сотрудники Продавца, допущенные к работе с персональными данными Клиента и подписавшие Соглашение о неразглашении персональных данных Клиента.</p>

<p>3.4. Персональные данные Клиентов на бумажных носителях хранятся у Продавца в сейфе, доступ к материалам имеют только сотрудники, подписавшие положение о неразглашении информации.</p>

<p>3.5. Персональные данные Клиентов в электронном виде хранятся в локальной компьютерной сети Интернет-магазина, в электронных папках и файлах в персональных компьютерах Продавца, сотрудников Продавца, допущенных к обработке персональных данных Клиентов.</p>

    <h2 id="use_and_transfer">4. Использование и передача персональных данных Клиентов</h2>
<p>4.1. Использование персональных данных Клиентов осуществляется исключительно для достижения целей, определенных Публичной офертой между Клиентом и Интернет-магазином.</p>

<p>4.2. При передаче персональных данных Клиентов Интернет-магазин должен соблюдать следующие, приведенные ниже, требования:</p>

<p>4.2.1. Предупредить лиц, получающих персональные данные Клиентов о том, что эти данные могут быть использованы лишь в целях, для которых они сообщены, и требовать от этих лиц подтверждения того, что это правило соблюдено. Лица, получающие персональные данные Клиентов, обязаны соблюдать режим конфиденциальности. Данное положение не распространяется в случае обезличивания персональных данных и в отношении общедоступных данных.</p>

<p>4.2.2. Разрешать доступ к персональным данным Клиентов только специально уполномоченным лицам, при этом указанные лица должны иметь право получать только те персональные данные, которые необходимы для выполнения конкретных функций.</p>

<p>4.2.3. При трансграничной передаче персональных данных Интернет-магазин обязан убедиться в том, что иностранным государством, на территорию которого осуществляется передача персональных данных, обеспечивается адекватная защита прав субъектов персональных данных.</p>

<p>4.2.4. Трансграничная передача персональных данных на территории иностранных государств, не обеспечивающих адекватной защиты прав субъектов персональных данных, может осуществляться в случаях:</p>

<ul class="custom-list">
    <li>наличия согласия в письменной форме Клиента;</li>
    <li>предусмотренных международными договорами Республики Беларусь по вопросам выдачи виз, международными договорами Республики Беларусь об оказании правовой помощи по гражданским, семейным и уголовным делам, а также международными договорами Республики Беларусь о реадмиссии;</li>
    <li>предусмотренных законами, если это необходимо в целях защиты основ конституционного строя Республики Беларусь, обеспечения обороны страны и безопасности государства;</li>
    <li>исполнения договора, стороной которого является субъект персональных данных;</li>
    <li>защиты жизни, здоровья, иных жизненно важных интересов субъекта персональных данных или других лиц при невозможности получения согласия в письменной форме субъекта персональных данных.</li>
</ul>

<p>4.3. Не допускается отвечать на вопросы, связанные с передачей информации, содержащей персональные данные, по телефону или факсу.</p>

<p>4.4. Интернет-магазин вправе предоставлять или передавать персональные данные Клиентов третьим лицам в следующих случаях:</p>

<ul class="custom-list">
    <li>Клиент выразил согласие на такие действия;</li>
    <li>передача необходима для использования Клиентом определенного сервиса либо для исполнения определенного соглашения или договора с Клиентом;</li>
    <li>передача необходима для функционирования и работоспособности самого Сайта;</li>
    <li>если раскрытие этой информации требуется для соблюдения закона, исполнения судебного акта;</li>
    <li>для оказания содействия в проведении расследований, осуществляемых правоохранительными или иными государственными органами;</li>
    <li>для защиты прав и законных интересов Клиента и Интернет-магазина.</li>
</ul>

    <h2 id="protection">5. Защита персональных данных Клиентов от несанкционированного доступа</h2>
<p>5.1. Интернет-магазин обязан при обработке персональных данных Клиентов принимать необходимые организационные и технические меры для защиты персональных данных от несанкционированного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, распространения персональных данных, а также от иных неправомерных действий.</p>

<p>5.2. Для эффективной защиты персональных данных Клиентов необходимо соблюдать порядок получения, учета и хранения персональных данных Клиентов; применять технические средства охраны, сигнализации; заключить со всеми сотрудниками, связанными с получением, обработкой и защитой персональных данных Клиента, Соглашение о неразглашении персональных данных Клиента; привлекать к дисциплинарной ответственности сотрудников, виновных в нарушении норм, регулирующих получение, обработку и защиту персональных данных Клиента.</p>

<p>5.3. Допуск к персональным данным Клиентов сотрудников Продавца, не имеющих надлежащим образом оформленного доступа, запрещается.</p>

<p>5.4. Документы, содержащие персональные данные Клиентов, хранятся в помещениях Продавца, обеспечивающих защиту от несанкционированного доступа.</p>

<p>5.5. Защита доступа к электронным базам данных, содержащим персональные данные Клиентов, обеспечивается использованием лицензионных программных продуктов, предотвращающих несанкционированный доступ третьих лиц к персональным данным Клиентов, а также системой паролей. Пароли устанавливаются системным администратором и сообщаются индивидуально сотрудникам, имеющим доступ к персональным данным Клиентов.</p>

<p>5.6. Копировать и делать выписки персональных данных Клиента разрешается исключительно в служебных целях с письменного разрешения руководства Продавца.</p>

    <h2 id="obligations">6. Обязанности Интернет-магазина</h2>
<p>6.1. Интернет-магазин обязан осуществлять обработку персональных данных Клиентов исключительно в целях исполнения Публичной оферты.</p>

<p>6.1.2. Получать персональные данные Клиента непосредственно у него самого. Если персональные данные Клиента возможно получить только у третьей стороны, то Клиент должен быть уведомлен об этом заранее и от него должно быть получено письменное согласие. Сотрудники Продавца должны сообщить Клиентам о целях, предполагаемых источниках и способах получения персональных данных, а также о характере подлежащих получению персональных данных и последствиях отказа клиента дать письменное согласие на их получение.</p>

<p>6.1.3. Не получать и не обрабатывать персональные данные Клиента о его расовой, национальной принадлежности, политических взглядах, религиозных или философских убеждениях, состоянии здоровья, интимной жизни, за исключением случаев, предусмотренных законом.</p>

<p>6.1.4. Предоставлять доступ к своим персональным данным Клиенту или его законному представителю при обращении либо при получении запроса, содержащего номер основного документа, удостоверяющего личность Клиента или его законного представителя, сведения о дате выдачи указанного документа и выдавшем его органе и собственноручную подпись Клиента или его законного представителя. Запрос может быть направлен в электронной форме и подписан электронной цифровой подписью в соответствии с законодательством Республики Беларусь. Сведения о наличии персональных данных должны быть предоставлены Клиенту в доступной форме и в них не должны содержаться персональные данные, относящиеся к другим субъектам персональных данных.</p>

<p>6.1.5. Ограничивать право Клиента на доступ к своим персональным данным в ситуациях, рассмотренных в слудующих пунктах ниже:</p>
<p>- обработка персональных данных, в том числе персональных данных, полученных в результате оперативно-розыскной, контрразведывательной и разведывательной деятельности, осуществляется в целях обороны страны, безопасности государства и охраны правопорядка;</p>
<p>- обработка персональных данных осуществляется органами, осуществившими задержание субъекта персональных данных по подозрению в совершении преступления либо предъявившими субъекту персональных данных обвинение по уголовному делу, либо применившими к субъекту персональных данных меру пресечения до предъявления обвинения, за исключением предусмотренных уголовно-процессуальным законодательством Республики Беларусь случаев, если допускается ознакомление подозреваемого или обвиняемого с такими персональными данными;</p>

<p>6.1.7. В случае выявления недостоверных персональных данных или неправомерных действий с ними оператор при обращении или по запросу субъекта персональных данных или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных оператор обязан осуществить блокирование персональных данных, относящихся к соответствующему субъекту персональных данных, с момента такого обращения или получения такого запроса на период проверки.</p>

<p>6.1.8. В случае подтверждения факта недостоверности персональных данных оператор на основании документов, представленных субъектом персональных данных или его законным представителем либо уполномоченным органом по защите прав субъектов персональных данных, или иных необходимых документов обязан уточнить персональные данные и снять их блокирование.</p>

<p>6.1.9. В случае выявления неправомерных действий с персональными данными оператор в срок, не превышающий трех рабочих дней с даты такого выявления, обязан устранить допущенные нарушения. В случае невозможности устранения допущенных нарушений оператор в срок, не превышающий трех рабочих дней с даты выявления неправомерности действий с персональными данными, обязан уничтожить персональные данные. Об устранении допущенных нарушений или об уничтожении персональных данных оператор обязан уведомить субъекта персональных данных или его законного представителя, а в случае, если обращение или запрос были направлены уполномоченным органом по защите прав субъектов персональных данных, также указанный орган.</p>


    <h2 id="rights">7. Права Клиента</h2>
<p>7.1. Клиент имеет право на доступ к информации о самом себе, в том числе содержащей информацию подтверждения факта обработки персональных данных, а также цель такой обработки; способы обработки персональных данных, применяемые Интернет-магазином; сведения о лицах, которые имеют доступ к персональным данным или которым может быть предоставлен такой доступ; перечень обрабатываемых персональных данных и источник их получения, сроки обработки персональных данных, в том числе сроки их хранения; сведения о том, какие юридические последствия для Клиента может повлечь за собой обработка его персональных данных.</p>

<p>Клиент имеет право на определение форм и способов обработки его персональных данных, ограничение способов и форм обработки персональных данных, запрет на распространение персональных данных без его согласия, изменение, уточнение, уничтожение информации о самом себе. Клиент может изменить и/или уточнить свои персональные данные путем внесения изменения в персональные данные в личном кабинете на сайте Интернет-магазина, через форму обратной связи.</p>

    <h2 id="confidentiality">8. Конфиденциальность персональных данных Клиентов</h2>
<p>8.1. Интернет-магазин обеспечивает конфиденциальность персональных данных и обязан не допускать их распространения третьим лицам без согласия Клиентов либо наличия иного законного основания.</p>

<p>8.2. Лица, имеющие доступ к персональным данным Клиентов, обязаны соблюдать режим конфиденциальности. Они должны быть предупреждены о необходимости соблюдения режима секретности. В связи с режимом конфиденциальности информации персонального характера должны предусматриваться соответствующие меры безопасности для защиты данных от случайного или несанкционированного уничтожения, утраты, несанкционированного доступа, изменения или распространения.</p>

<p>8.3. Все меры конфиденциальности при сборе, обработке и хранении персональных данных Клиентов распространяются на все носители информации, как на бумажные, так и на автоматизированные.</p>

<p>8.4. Режим конфиденциальности персональных данных снимается в случаях обезличивания или включения их в общедоступные источники персональных данных, если иное не определено законом.</p>

    <h2 id="responsibility">9. Ответственность за нарушение норм, регулирующих обработку персональных данных Клиентов</h2>
<p>9.1. Продавец несет ответственность за персональную информацию, которая находится в его распоряжении, и закрепляет персональную ответственность сотрудников за соблюдением установленного режима конфиденциальности.</p>

<p>9.2. Каждый сотрудник Продавца, получающий для работы документ, содержащий персональные данные Клиента, несет единоличную ответственность за сохранность носителя и конфиденциальность информации.</p>

<p>9.3. Любое лицо может обратиться к сотруднику Продавца с жалобой на нарушение данного Положения. Жалобы и заявления по поводу соблюдения требований обработки данных рассматриваются в трехдневный срок со дня поступления.</p>

<p>9.4. Сотрудники Продавца обязаны на должном уровне обеспечивать рассмотрение запросов, заявлений и жалоб Клиентов, а также содействовать исполнению требований компетентных органов.</p>

<p>9.5. Лица, виновные в нарушении норм, регулирующих получение, обработку и защиту персональных данных Клиентов, несут дисциплинарную, административную, гражданско-правовую или уголовную ответственность в соответствии с законодательством Республики Беларусь.</p>

    <h2 id="cookies">10. Cookie и прочие технологии отслеживания</h2>
<p>10.1. Сайт www.onlinestore.by использует файлы cookie и похожие технологии, чтобы гарантировать максимальное удобство для Клиентов, предоставляя персонализированную информацию, запоминая предпочтения в области маркетинга и нашей продукции, а также помогая получить корректную информацию. При использовании Сайта, вы подтверждаете свое согласие на использование файлов cookie в соответствии с настоящим уведомлением в отношении данного типа файлов. Если вы не согласны с тем, чтобы мы использовали данный тип файлов, то вы должны соответствующим образом установить настройки вашего браузера или не использовать сайт www.onlinestore.by.</p>

    <h2 id="consent">11. Согласие на обработку персональных данных при отклике на вакансию</h2>
<p>Отправляя отклик на вакансию, данным действием я предоставляю оператору персональных данных для целей возможного моего трудоустройства в компанию onlinestore своё согласие в соответствии с Законом Республики Беларусь «Об информации, информатизации и защите информации» осуществлять со всеми указанными в моем резюме персональными данными, а также с самим резюме следующие действия: систематизацию, накопление, хранение, уточнение (обновление/изменение), использование, обезличивание, блокирование и уничтожение. Также даю свое согласие на передачу (в том числе трансграничную) моих персональных данных. Я уведомлен, что мои персональные данные могут обрабатываться в странах, которые не обеспечивают адекватную защиту персональных данных.</p>

<p>Настоящее согласие на обработку персональных данных мною предоставляется без ограничения срока обработки этих персональных данных, но до момента отзыва согласия. Настоящее согласие может быть отозвано путем направления соответствующего заявления Оператору персональных данных по адресу:</p>
<p class="highlight">Это фрагмент текста.</p>

    <a href="{{ info.privacy_policy.url }}" class="btn-download" download>Download privacy policy</a>
     </div>
{% endblock %}