{% extends "base_generic.html" %}

{% block content %}
    <h1 itemprop="name" class="itim-regular" style="text-align: center;">Product List</h1>

    <form method="GET" class="search-container">
        <input type="text" name="search" placeholder="Search products" value="{{ request.GET.search|default:'' }}">
        <select name="product_type_id" onchange="this.form.submit()">
            <option value="" {% if not request.GET.product_type_id %}selected{% endif %}>All types</option>
            {% for product_type in product_types %}
            <option value="{{ product_type.id }}" {% if request.GET.product_type_id == product_type.id|stringformat:"s" %}selected{% endif %}>{{ product_type.name }}</option>
            {% endfor %}
        </select>

        <select name="price_order" onchange="this.form.submit()">
            <option value="">Default</option>
            <option value="asc" {% if request.GET.price_order == 'asc' %}selected{% endif %}>Price low to high</option>
            <option value="desc" {% if request.GET.price_order == 'desc' %}selected{% endif %}>Price high to low</option>
        </select>
    </form>

    {% if product_list %}
    <div class="product-grid">
      {% for product in product_list %}
      <div class="product-item" itemscope itemtype="https://schema.org/Product">
        <a href="{{ product.get_absolute_url }}" itemprop="url">
          <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image" itemprop="image">
          <h2 itemprop="name" class="itim-regular">{{ product.name }}</h2>
        </a>
        <p class="product-price" itemprop="priceCurrency" content="USD">Price: $<span itemprop="price">{{ product.price }}</span></p>
      </div>
      {% endfor %}
    </div>
       <div class="pagination-pr">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1&search={{ search }}&product_type_id={{ product_type_id }}&price_order={{ price_order }}">First</a>
            <a href="?page={{ page_obj.previous_page_number }}&search={{ search }}&product_type_id={{ product_type_id }}&price_order={{ price_order }}">Previous</a>
        {% else %}
            <span class="disabled">First</span>
            <span class="disabled">Previous</span>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&search={{ search }}&product_type_id={{ product_type_id }}&price_order={{ price_order }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&search={{ search }}&product_type_id={{ product_type_id }}&price_order={{ price_order }}">Last</a>
        {% else %}
            <span class="disabled">Next</span>
            <span class="disabled">Last</span>
        {% endif %}
    </span>
</div>


    {% else %}
        <p>There are no products in the online-shop.</p>
    {% endif %}

{% endblock %}