{% extends "base_generic.html" %}

{% block content %}
    <h1>Welcome to our shop!</h1>
     <img src="{{ info.logo.url }}" alt="Company Logo" style="display: block; width: 15%; height: auto;">

    <img src="{{ info.banner1.url }}" alt="Company Banner 1" style="width: 50%; height: auto;">
    <img src="{{ info.banner2.url }}" alt="Company Banner 2" style="width: 50%; height: auto;">

    <h2>Cat Fact of the Day</h2>
    <p contenteditable="true">{{ cat_fact.fact }}</p>

    <h2>Random Dog Image</h2>
    <img src="{{ dog_image.message }}" alt="Random dog image" style="max-width: 200px; height: 200px;">
    <p>Current time: {{ current_date_formatted }}</p>
    <p>Current data: {{ calendar_text }}</p>
    <table>
    <tr>
        <th>Пн</th>
        <th>Вт</th>
        <th>Ср</th>
        <th>Чт</th>
        <th>Пт</th>
        <th>Сб</th>
        <th>Вс</th>
    </tr>
    {% for week in month_calendar %}
        <tr>
            {% for day in week %}
                <td>{% if day != 0 %}{{ day }}{% endif %}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
</table>
    <h2>Latest Article</h2>
    <h3><a href="{% url 'article_detail' latest_article.id %}">{{ latest_article.title }}</a></h3>
    <p>{{ latest_article.summary }}</p>
{% endblock %}