{% extends "base_generic.html" %}

{% block content %}
    <h1 class="itim-regular">Welcome to our shop!</h1>
<div id="animation-area">
    <div id="product-1" class="product"></div>
    <div id="product-2" class="product"></div>
    <div id="product-3" class="product"></div>
    <div id="cart" class="cart"></div>
    <div id="cloud" class="cloud"></div>
    <div id="house"></div>
    <div id="company-name">OnlineStore</div>
</div>

    <figure>
        <img src="{{ info.logo.url }}" alt="Company Logo" style="display: block; width: 15%; height: auto;">
        <figcaption>Company Logo</figcaption>
    </figure>
    <img src="{{ info.banner1.url }}" alt="Company Banner 1" style="width: 50%; height: auto;">
    <img src="{{ info.banner2.url }}" alt="Company Banner 2" style="width: 50%; height: auto;">


    <h2 class="itim-regular">Cat Fact of the Day</h2>
    <p contenteditable="true">{{ cat_fact.fact }}</p>

    <h2 class="itim-regular">Random Dog Image</h2>
    <img src="{{ dog_image.message }}" alt="Random dog image" style="max-width: 200px; height: 200px;">
    <p>Current time: {{ current_date_formatted }}</p>
    <p>Current data: {{ calendar_text }}</p>
    <h2 class="itim-regular">Partner Companies</h2>
    <div class="partner-blocks">
        {% for manufacturer in manufacturer_list %}
        <div class="itim-regular">
            <div class="partner-block">
                {% if manufacturer.logo %}
                    <img src="{{ manufacturer.logo.url }}" alt="{{ manufacturer.name }}" class="partner-logo">
                {% endif %}
            </div>
            <p class="partner-name">{{ manufacturer.name }}</p>
        </div>
        {% endfor %}
    </div>


    <h2 class="itim-regular">Latest Article</h2>
    <div class="latest-article">
        <h3><a href="{% url 'article_detail' latest_article.id %}">{{ latest_article.title }}</a></h3>
        <p>{{ latest_article.summary }}</p>
    </div>
{% endblock %}